:root {
    --primary-bg-color: #F2F2F2;
    --primary-text-color: #111517;
    --primary-header-color: #FFFFFF;
    --primary-box-shadow-color: #c9c6c6;
}

.dark-theme {
    --primary-bg-color: #202C36;
    --primary-text-color: #ffffff;
    --primary-header-color: #2B3844;
    --primary-box-shadow-color: #202C36;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans";
}

header {
    position: sticky;
    height: 5rem;
    background-color: var(--primary-header-color);
    padding: 1rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-text-color);
}

#theme-switcher {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    color: var(--primary-text-color);
    cursor: pointer;
}

#theme-switcher > img {
    margin-right: 0.5rem;
}

.content {
    padding: 2rem 4rem;
    background-color: var(--primary-bg-color);
}

.actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
}

#country-search {
    text-decoration: none;
    border: none;
    background-color: var(--primary-header-color);
    color: var(--primary-text-color);
    padding: 1rem;
    box-shadow: 1px 1px 4px 0 var(--primary-box-shadow-color);
    width: 24%;
}

#region-dropdown {
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
    
    width: 12%;
    padding: 1rem;
    border: none;
    box-shadow: 0 2px 9px 0 var(--primary-box-shadow-color);
    border-radius: 0.25rem;
    color: var(--primary-text-color);
    background-color: var(--primary-header-color);
    cursor: pointer;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16"><path fill="black" d="M7 10l5 5 5-5H7z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
    padding-right: 30px;
}
  

.country-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.country-card {
    width: 21rem;
    background-color: var(--primary-header-color);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
}

.country-card > img {
    border-radius: 0.5rem 0.5rem 0 0;
}

.country-card .country-details {
    padding: 1rem;
}

.country-card  .country-name {
    color: var(--primary-text-color);
    margin: 1rem 0;
}

.country-card .country-detail {
    display: flex;
    align-items: center;
    margin: 0.25rem 0;
}

.country-card .title {
    font-size: 0.875rem;
    color: var(--primary-text-color);
    font-weight: 500;
}

.country-card .value {
    font-size: 0.875rem;
    color: var(--primary-text-color);
    margin-left: 0.25rem;
}

@media (max-width: 768px) {
    header {
        padding: 0.5rem 1rem;
    }
    .app-title {
        font-size: 0.875rem;
        white-space: nowrap;
    }
    #theme-mode {
        font-size: 0.75rem;
    }
    .content {
        padding: 0.5rem 1rem;
    }
    .actions {
        display: flex;
        flex-direction: column;
    }
    .actions #country-search, #region-dropdown {
        width: 100%;
        margin: 0.5rem 0;
    }
    .country-list {
        gap: 2rem;
    }
}